<script>
    import Modal from "../widgets/Modal.svelte";

    import { createEventDispatcher } from "svelte";

    const dispatch = createEventDispatcher();

    let showModal = false;
    let backupForm;

    const handleConfirm = () => {
        console.log(backupForm);
        backupForm.submit();
        console.log(1);
    };

    const handleSubmit = e => {
        e.preventDefault();
        console.log(e);
        dispatch("loadBackup", e);
    };
</script>

<!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
<span>
    <a href="#" on:click={() => (showModal = true)}>Load Backup</a>
    <form on:submit={handleSubmit} bind:this={backupForm}>
        <Modal
            bind:showModal
            hasConfirmButton={true}
            confirmButtonText="Load Backup"
            on:confirm={handleConfirm}
        >
            <h2 slot="header">Load Backup</h2>
            <br />
            <input type="file" accept=".spaceplanner" />
        </Modal>
    </form>
</span>

<style>
    span {
        margin: auto;
        padding: 0.5rem;
        font-size: 0.8rem;
        border: 1px solid var(--bg);
        border-radius: 12px;
    }
</style>
