<script>
    import daysMap from "../daysmap.json";
    import TaskView from "./TaskView.svelte";
    import NewTask from "./NewTask.svelte";
    import Day from "../widgets/Day.svelte";
    import { onMount } from "svelte";
    import { db_data_store } from "../stores";
    import * as dbHelper from "../dbhelper";
    import { LocalStoragePreset } from "lowdb/browser";
    import LoadBackupView from "./LoadBackupView.svelte";
    const defaultData = JSON.parse(localStorage.getItem("db"));
    const db = LocalStoragePreset("db", defaultData);
    db.read();

    // const name = "Nik";

    let currentDay = Number(localStorage.getItem("currentDay")) || 0;

    let currentDayofLoop = 0;

    $: currentDayofLoop = currentDay % 64; // Loop runs from days 0-63

    db_data_store.subscribe(value => {
        db.data = value;
        db.write();
        db.read();
    });

    let DBLength = 0;
    let currentDayUnfinishedEntries = 0;

    $: DBLength = dbHelper.getTotalEntries(db.data);
    $: currentDayUnfinishedEntries = dbHelper.getUnfinishedEntriesInDay(
        currentDayofLoop,
        db.data,
        daysMap
    );

    const dateLastUsed_ISO = localStorage.getItem("dateLastUsed");

    const today = new Date();
    today.setHours(0, 0, 0, 0);
    localStorage.setItem("dateLastUsed", today.toISOString());

    onMount(() => {
        if (!!dateLastUsed_ISO) {
            //#region Strip time from date
            const dateLastUsed = new Date(dateLastUsed_ISO);
            dateLastUsed.setHours(0, 0, 0, 0);
            //#endregion
            console.log(
                today,
                dateLastUsed,
                currentDayUnfinishedEntries,
                DBLength,
                db.data
            );
            if (
                today > dateLastUsed &&
                currentDayUnfinishedEntries === 0 &&
                DBLength !== 0
            ) {
                currentDay += 1;
                localStorage.setItem("currentDay", `${currentDay}`);
                db_data_store.set(dbHelper.resetFinishTracking(db.data)); // unset all entry.hasFinished
            }
        }
    });

    function saveBackup(e) {
        const textToSave = JSON.stringify(db.data);
        const jsonBlob = new Blob([textToSave], { type: "text/utf-8" });
        const blobURL = window.URL.createObjectURL(jsonBlob);
        e.target.href = blobURL;
    }

    function loadBackup(e) {
        console.log(e);
        const file = e.detail.target[0].files[0];
        if (!file) return;
        const reader = new FileReader();
        reader.readAsText(file);
        reader.onload = e => {
            const jsonBackup = e.target.result;
            db.data = JSON.parse(jsonBackup.toString());
            db_data_store.set(db.data);
            alert("Backup loaded.");
        };
    }
</script>

<svelte:window on:beforeunload={e => e.preventDefault()} />

<div>
    <Day bind:day={currentDay} />
    <h1>Spaceplanner</h1>
    <div class="controls">
        <a href="./help.html"> Help </a>
        <a
            download={`backup-${today.getFullYear()}-${today
                .getMonth()
                .toString()
                .padStart(2, "0")}-${today
                .getDate()
                .toString()
                .padStart(2, "0")}.spaceplanner`}
            href="#"
            on:click={saveBackup}>Save Backup</a
        >
        <LoadBackupView on:loadBackup={loadBackup} />
    </div>
    {#if !!db.data && !(DBLength === 0)}
        {#if currentDayUnfinishedEntries === 0}
            <p class="done-for-the-day">
                <strong>🎉 You're done for the day!</strong>
                <br /> Come back again tomorrow
            </p>
        {/if}
        <details open>
            <summary>Today</summary>

            <div class="today">
                {#each daysMap[currentDayofLoop].boxes as box}
                    {#if !!db.data[box]}
                        <TaskView {box} tasks={db.data[box]} />
                    {/if}
                {/each}
            </div>
        </details>

        <details>
            <summary>Tomorrow</summary>
            {#each daysMap[currentDayofLoop + 1].boxes as box}
                {#if !!db.data[box]}
                    <TaskView {box} tasks={db.data[box]} />
                {/if}
            {/each}
        </details>
        <p>(Total tasks in all boxes: {DBLength})</p>
    {:else}
        <p>Add some tasks to get started!</p>
    {/if}

    <NewTask />
</div>

<style>
    summary {
        font-size: 1.5rem;
        line-height: 5rem;
        font-weight: bold;
    }

    .done-for-the-day {
        font-size: 1.5rem;
        background: var(--bg);
        padding: 1rem;
        border-radius: 12px;
        border: 1px solid var(--accent);
    }
    .controls {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 0.5rem;
        max-width: fit-content;
    }
    .controls > * {
        margin: auto;
        padding: 0.5rem;
        font-size: 0.8rem;
        border: 1px solid var(--bg);
        border-radius: 12px;
    }
</style>
