<script>
    // export let db;

    import { db_data_store } from "../stores";
    import Fab from "../widgets/FAB.svelte";
    import Modal from "../widgets/Modal.svelte";
    let showModal = false;
    let newTaskText = "";

    const handleConfirm = () => {
        db_data_store.update(data => {
            data.a.push({
                timestamp: Date.now(),
                content: newTaskText,
            });
            return data;
        });
        // db.data = db_data;
        // db.write();
        newTaskText = "";
    };

    const handleKeydown = e => {
        if (e.ctrlKey && e.key === "Enter") handleConfirm(); // Keyboard shortcut for confirm
    };
</script>

<!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
<div>
    <Fab on:click={() => (showModal = true)} text="New Task" />
    <Modal
        bind:showModal
        hasConfirmButton={true}
        confirmButtonText="Add Task"
        on:confirm={handleConfirm}
    >
        <h2 slot="header">New Task</h2>
        <br />
        <textarea
            name="taskInput"
            id="taskInput"
            cols="30"
            rows="2"
            placeholder="Enter your new task here"
            bind:value={newTaskText}
            on:keydown={handleKeydown}
        ></textarea>
    </Modal>
</div>

<style>
    textarea {
        background: transparent;
        font-family: inherit;
        font-size: 1rem;
        border: none;
        background: var(--bg-alt);
        border-radius: 12px;
        padding: 1rem;
    }
</style>
