<script>
    export let box;
    export let tasks;

    import TaskWidget from "../widgets/TaskWidget.svelte";
    import { LocalStoragePreset } from "lowdb/browser";
    import { db_data_store } from "../stores";

    const defaultData = JSON.parse(localStorage.getItem("db"));
    const db = LocalStoragePreset("db", defaultData);

    db.read();

    const boxList = ["a", "b", "c", "d", "e", "f", "g"];

    // let db = localStorage.getItem("database");

    // if (!!db) db = JSON.parse(db);

    function handleTaskUpdate(e) {
        const status = e.detail.status;
        const task = e.detail.task;
        db_data_store.update(data => {
            if (status === "good") {
                task.hasFinished = true;
                const currBoxIndex = boxList.indexOf(box);
                if (currBoxIndex <= 6) {
                    const newBox = boxList[currBoxIndex + 1];
                    data[newBox].push(task);

                    const updatedOldBox = data[box].filter(
                        x => x.timestamp !== task.timestamp
                    );
                    data[box] = [...updatedOldBox];
                }
            } else if (status === "bad") {
                task.hasFinished = true;

                const updatedOldBox = data[box].filter(
                    x => x.timestamp !== task.timestamp
                );
                data[box] = [...updatedOldBox];
                data.a.push(task);
            } else if (status === "delete") {
                if (confirm("Delete this task?")) {
                    const updatedOldBox = data[box].filter(
                        x => x.timestamp !== task.timestamp
                    );
                    data[box] = [...updatedOldBox];
                }
            }
            return data;
        });
    }
</script>

{#if !!tasks && tasks.length > 0}
    <div class="box">
        <span class="box-label">
            Box <strong>{box}</strong>
        </span>
        <ul>
            {#each tasks as task}
                <li>
                    <TaskWidget on:taskUpdate={handleTaskUpdate} {task} />
                </li>
            {/each}
        </ul>
    </div>
{/if}

<style>
    .box {
        border: 1px solid var(--bg-alt);
        background: var(--bg);
        backdrop-filter: blur(20px);
        padding: 0.8rem;
        border-radius: 12px;
        margin-bottom: 1rem;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }

    .box-label {
        font-size: 1.5rem;
        font-weight: light;
    }

    .box-label strong {
        text-transform: uppercase;
    }
</style>
