:root {
    --accent: rgb(0, 176, 176);
    --accent-lighter: rgb(0, 208, 208);
    --accent-darker: rgb(0, 110, 110);
    --bg-dark: #101010;
    --bg: #1e1e1e;
    --bg-alt: #363535;
    --bg-alt-2: #232323;
    --fg: #fefefe;
    --fg-on-accent: #111;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: --fg;
    background-color: --bg;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: var(--accent);
    text-decoration: inherit;
}

a:hover {
    color: var(--accent-lighter);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: var(--bg-dark);
    background-attachment: fixed;
    padding-top: 7rem;
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.card {
    padding: 2em;
}

#app {
    width: 80ch;
    max-width: 90vw;
    margin: 0 auto;
    padding: 0.8rem;
    /* text-align: center; */
}

button {
    border-radius: 12px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--bg-alt);
    cursor: pointer;
    transition: border-color 0.25s;
    transition: all 0.2s ease;
}
button:hover {
    border-color: var(--accent);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button.highlighted {
    background: var(--accent);
    color: var(--fg-on-accent);
    font-weight: bold;
}

button.highlighted:hover {
    background: var(--accent-lighter);
}
button:hover {
    border-color: transparent;
    background: var(--bg-alt-2);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}
button:active {
    background: var(--bg-alt);
    box-shadow: none;
}
button.highlighted:active {
    background: var(--accent);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #fff;
        --bg-alt: #ddd;
        --bg-alt-2: #ccc;
        --fg: #1e1e1e;
        --fg-on-accent: #111;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
