<script>
    export let day;
</script>

<div title="Increments only if you complete everything due for the day">
    Day
    <br />
    <span>
        {day}
    </span>
    <br />
</div>

<style>
    div {
        position: fixed;
        top: 1rem;
        left: 1rem;
        background: var(--bg-alt);
        text-align: center;
        padding: 0.5rem;
        border-radius: 12px;
    }
    span {
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
        background: transparent;
        border: none;
    }
</style>
