<script>
    export let text;
</script>

<button class="highlighted" on:click>{text}</button>

<style>
    button {
        position: fixed;
        top: 1rem;
        right: 1rem;
        font-size: 1.25rem;
    }
</style>
