<!-- Ripped from https://svelte.dev/examples/modal -->

<script>
    export let showModal; // boolean
    export let confirmButtonText = "Confirm";
    export let hasConfirmButton = false;

    import { createEventDispatcher } from "svelte";

    const dispatch = createEventDispatcher();

    let dialog; // HTMLDialogElement

    function handleConfirm(e) {
        dialog.close();
        dispatch("confirm");
    }

    function handleCancel(r) {
        dialog.close();
        dispatch("cancel");
    }

    $: if (dialog && showModal) dialog.showModal();
</script>

<!-- svelte-ignore a11y-click-events-have-key-events a11y-no-noninteractive-element-interactions -->
<dialog
    bind:this={dialog}
    on:close={() => (showModal = false)}
    on:click|self={() => dialog.close()}
>
    <!-- svelte-ignore a11y-no-static-element-interactions -->
    <div on:click|stopPropagation>
        <slot name="header" />

        <slot />

        <div class="footer">
            <!-- svelte-ignore a11y-autofocus -->
            <button on:click={handleCancel}>Cancel</button>
            {#if hasConfirmButton}
                <button
                    type="submit"
                    class="highlighted"
                    on:click={handleConfirm}
                >
                    {confirmButtonText}
                </button>
            {/if}
        </div>
    </div>
</dialog>

<style>
    dialog {
        font-size: 1rem;
        max-width: 80vh;
        border-radius: 12px;
        border: none;
        padding: 0;
        background: var(--bg);
    }
    dialog::backdrop {
        background: rgba(0, 0, 0, 0.8);
    }
    dialog > div {
        padding: 1rem;
        padding-top: 0.5rem;
    }
    dialog[open] {
        animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
    .footer {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    @keyframes zoom {
        from {
            transform: scale(0.95);
        }
        to {
            transform: scale(1);
        }
    }
    dialog[open]::backdrop {
        animation: fade 0.2s ease-out;
    }
    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    button {
        display: block;
    }
</style>
