<script>
    export let task;

    import { createEventDispatcher } from "svelte";

    const dispatch = createEventDispatcher();

    const clickedOnGood = () =>
        dispatch("taskUpdate", {
            task,
            status: "good",
        });

    const clickedOnBad = () =>
        dispatch("taskUpdate", {
            task,
            status: "bad",
        });

    const clickedOnDelete = () =>
        dispatch("taskUpdate", {
            task,
            status: "delete",
        });
</script>

<div class="main">
    <div class="content" class:hasFinished={task.hasFinished}>
        {task.content}
    </div>
    <div class="controls">
        <button class="good" title="Move to next box" on:click={clickedOnGood}
            >↑</button
        >
        <button
            class="bad"
            title="Move all the way down to first box"
            on:click={clickedOnBad}>↑</button
        >
        <button class="delete" title="Delete" on:click={clickedOnDelete}
            >&times;</button
        >
    </div>
</div>

<style>
    div.main {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: auto auto;
        margin: 0;
        padding: 0.25rem 0 0.25rem 0.5rem;
        border-radius: 12px;
        transition: all 0.2s ease;
    }

    .content {
        display: flex;
        align-items: center;
    }
    .content.hasFinished::before {
        content: "✓ ";
    }
    .content.hasFinished {
        color: var(--accent);
    }
    div.main:hover {
        background: var(--bg-alt);
    }

    .controls {
        display: flex;
        justify-content: flex-end;
    }

    button {
        padding: 0.25rem 0.5rem;
        border-radius: 999px;
        font-size: 0.9rem;
        font-weight: bold;
        background: transparent;
        border: 1px solid var(--bg-alt);
    }

    button:hover {
        box-shadow: none;
        color: #1e1e1e;
        border: 1px solid transparent;
    }

    .good {
        /* border-radius: 999px 0 0 999px; */
        margin-right: 0.5rem;
    }

    .good:hover {
        background: greenyellow;
    }

    .delete {
        font-size: 1.2rem;
        padding: 0.2rem;
        margin-left: 2rem;
    }

    .delete:hover {
        color: red;
    }

    .bad {
        transform: rotate(180deg);
    }

    .bad:hover {
        background: lightcoral;
    }
</style>
